$base-color: #1e1f22;
$base-background-color: #2b2d30;
$base-background-color-2: #4d4e51;
$error-background-color: lightpink;
$error-font-color: firebrick;
$instructions-background-color: #fdca40;
$instruction-font-color: #000;
$login-register-color: #2E8B57;
$login-register-font-color: #fff;
$header-footer-background-color: #1e1f22;
$header-footer-link-color: #80858c;
$navbar-underline: #4a8361;
$car-list-item-background-color: #80858c;
$car-form-background-color: #1e1f22;
$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Helvetica;
$base-font-family-fallback: sans-serif;

// Base styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $base-background-color-2;
  color: $base-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family, $base-font-family-fallback;
  min-height: 100vh;
}

// Login/Register Form

.login-register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background: $login-register-color;
  border-radius: 10px;
  color: $login-register-font-color;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}
.login-wrapper.active {
  height: 540px;
}
.login-wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.login-wrapper .form-box.login {
  transition: translate .18s ease;
  translate: 0;
}
.login-wrapper.active .form-box.login {
  transition: none;
  translate: 420px;
}
.login-wrapper .form-box.register {
  position: absolute;
  transition: none;
  translate: -420px;
}
.login-wrapper.active .form-box.register {
  transition: translate .18s ease;
  translate: 0;
}
form h1 {
  font-size: 36px;
  text-align: center;
}
form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 40px;
  font-size: 16px;
  color: $login-register-font-color;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: $login-register-font-color;
}
.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}
form .form-options {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.form-options label input {
  accent-color: $login-register-font-color;
  margin-right: 4px;
}
.form-options a {
  color: $login-register-font-color;
  text-decoration: none;
}
.form-options a:hover {
  text-decoration: underline;
}
form button {
  width: 100%;
  height: 45px;
  background: $login-register-font-color;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
form .register {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
form p.message {
  font-size: 14.5px;
  text-align: center;
  color: $login-register-font-color;
  text-decoration: none;
  font-weight: 600;
}
form p.message a {
  color: $login-register-font-color;
  text-decoration: none;
}
form p.message a:hover {
  text-decoration: underline;
}
.login-first {
  margin-top: 30px;
}
.login-other {
  margin-top: 20px;
  margin-bottom: 30px;
}
.register-form .login-other {
  margin-top: 20px;
  margin-bottom: 20px;
}
.register p a {
  color: $login-register-font-color;
  text-decoration: none;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 10px;
  background: $instructions-background-color;
  color: $instruction-font-color;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.offscreen {
  display: none;
}
.hide {
  display: none;
}
.errmsg {
  font-size: 1rem;
  background-color: $error-background-color;
  border-radius: 10px;
  color: $error-font-color;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.notify {
    font-size: 1rem;
    background-color: $instructions-background-color;
    border-radius: 10px;
    color: $instruction-font-color;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

// Grid

.grid-container {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas: "header" "navbar" "content" "footer";
}
.grid-item {
  //border: 1px solid #ddd;
  font-size: 1.5rem;
  text-align: center;
}
.navbar {
  grid-area: navbar;
}
.header {
  grid-area: header;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}
.grid-content-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.grid-content-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 1700px) {
  .grid-content-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-content-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1300px) {
  .grid-content-3 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-content-4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 960px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
"header"
"navbar"
"content"
"footer";
  }
  .grid-content-3 {
    grid-template-columns: 1fr;
  }
  .grid-content-4 {
    grid-template-columns: 1fr;
  }
  .content {
    min-height: auto;
  }
}

// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $header-footer-background-color;
  height: 50px;
  width: 100%;
  padding: 0 20px;
}
.logo {
  color: $header-footer-link-color;
  font-size: 1.5rem;
}
.right-section {
  display: flex;
  align-items: center;
}
.profile-icon {
  color: $header-footer-link-color;
  font-size: 1.5rem;
}
.profile-icon span {
  margin-left: 5px;
  font-size: 1rem;
}

// Navbar
.navbar {
  background: $header-footer-background-color;
  height: 50px;
  display: grid;
  place-items: center;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  display: inline-block;
  margin: 0 10px;
}
.navigation a {
  display: block;
  position: relative;
  text-decoration: none;
  color: $header-footer-link-color;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }
}
.navigation--inline ul {
  display: flex;
}
.navigation-icon {
  block-size: 1em;
  display: inline-block;
  inline-size: 1em;
  vertical-align: middle;
}
.navigation span {
  font-size: 1rem;
  margin-left: 5px;
}
.navigation a.active {
  position: relative;
}
.navigation a.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $login-register-color;
}

@media screen and (max-width: 960px) {
  .navigation span {
    display: none;
  }
}

// Content
.content {
  min-height: calc(100vh - 200px);
}
.content-blur {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

// Footer
.footer {
  background: $header-footer-background-color;
  height: 100px;
}
.close-form-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: $car-list-item-background-color;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }
}

// Cars
.car-form {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  margin-top: 100px;
  bottom: 100px;
  background: $car-form-background-color;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  z-index: 1000;
  text-align: left;
}
.car-form.show {
  right: 0;
}
.car-list-item {
  background: $car-list-item-background-color;
  border-radius: 15px;
  transition: background 0.3s ease;
  height: 150px;

  &:hover {
    background: #ffffff;
    cursor: pointer;
  }
}
.car-list-item-bottom {
  margin-left: 10px;
  margin-right: 10px;
}
.car-list-item-bottom-left {
  width: 25%;
  display: inline-block;
  border-right: 2px solid $base-background-color-2;
}
.car-list-item-bottom-right {
  width: 25%;
  display: inline-block;
  border-left: 2px solid $base-background-color-2;
}
.car-list-item-bottom-center {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
}
.create-car {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-div {
  height: 50px;
  position: relative;
  width: 100%;
}
.small {
    font-size: 1.0rem;
}
.first {
    margin-top: 40px;
}
.other {
    margin-top: 30px;
}
.input {
  background-color: $car-list-item-background-color;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.login-first input,
.login-other input {
  background-color: $login-register-color;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, .1);
  box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.login-other div.space {
  background-color: $login-register-color;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 75px;
}
.space {
  background-color: $header-footer-background-color;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 150px;
}
.input:focus ~ .space,
.input:not(:placeholder-shown) ~ .space {
  transform: translateY(8px);
}
.placeholder {
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  color: $header-footer-link-color;
}
.login-other input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  color: $login-register-font-color;
}
.input:focus ~ .placeholder {
  color: $header-footer-link-color;
}
.login-first input:focus ~ .placeholder {
  color: $login-register-font-color;
}
.login-other input:focus ~ .placeholder {
  color: $login-register-font-color;
}
.car-form-submit-button {
  background: $login-register-color;
  color: $login-register-font-color;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}
.car-form-clear-button {
  background: $instructions-background-color;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
button {
  margin: 15px 0;
}
